/* ProductList.css */
.product-list-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 20px;
}

.product-item {
  flex: 0 0 auto;
  width: 200px;
  margin-right: 20px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.product-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-item h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-item p {
  font-size: 1em;
  margin: 5px 0;
}