/* Link Font chữ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background: #f1f1f1; /* Màu nền để phân biệt với header và footer */
}

/* Đảm bảo footer luôn nằm ở dưới cùng của trang */
.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: left;
  border-top: 1px solid #e7e7e7;
}
