/* Đảm bảo rằng bạn đang đặt CSS này trong App.css hoặc file CSS chính của bạn */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background: #f1f1f1; /* Màu nền để phân biệt với header và footer */
}

/* Đảm bảo footer luôn nằm ở dưới cùng của trang */
.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
  text-align: left;
  border-top: 1px solid #e7e7e7;
}
